/* FIXME: Move to inline styles and get rid of css */
body {
  font-family: "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  width: 400px;
  color: #4e5665;
}

.banner {
  width: 100%;
  height: 45px;
  line-height: 45px;
  background-color: #f6f7f8;
  font-size: 16px;
  border-bottom: 2px solid #d9d9d9;
}

.banner > * {
  vertical-align: middle;
  margin-left: 12px;
}

.banner img {
  width: 20px;
}

.inline {
  display: inline-block;
}

.header {
  font-size: 16px;
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 20px;
}

.header p > * {
  vertical-align: middle;
}

.header p {
  margin: 0 0 0 0;
}

.header p > span:first-child {
  margin-left: 43px;
}

.header img {
  width: 21px;
  margin-left: 12px;
  margin-right: 10px;
}

.error {
  color: #da2929;
}

.suggestion {
  color: #5890ff;
}

.pixel-details {
  font-size: 12px;
  padding-top: 12px;
  padding-left: 14px;
  padding-bottom: 6px;
  padding-right: 18px;
  position: relative;
}

.pixel-details:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.pixel-details > p:first-child {
  font-size: 14px;
  margin-bottom: 2px;
}

.pixel-details:after {
  content: "";
  width: 100%;
  border-top: 1px solid #d9d9d9;
  position: absolute;
  top: 0;
  left: 0;
}

.pixel-details p {
  margin: 0 0 0 0;
  margin-bottom: 8px;
}

.pixel-details img {
  height: 10px;
}

.pixel-details p > * {
  vertical-align: middle;
}

.pixel-details a {
  color: #5d7dae;
  margin-left: 4px;
  text-decoration: none;
}

.pixel-details a:visited {
  color: #5d7dae;
}

.pixel-details a:hover {
  color: #7198d4;
  text-decoration: underline;
}

.pixel-details-extended > div {
  margin-bottom: 2px;
}

.pixel-details-extended {
  margin-bottom: 6px;
}

.status-ok {
  border-left: 4px solid #46a800;
}

.status-errors {
  border-left: 4px solid #da2929;
}

.status-suggestions {
  border-left: 4px solid #5890ff;
}

.status-warnings {
  border-left: 4px solid #EED202;
}

img.status {
  margin-right: 4px;
}

.faded {
  color: #898f9c;
}

.value-text {
  cursor: text;
}

.expandable .value-text {
  margin-left: 14px;
  margin-top: 6px;
  margin-bottom: 6px;
  word-break: break-all;
  white-space: pre-wrap;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 10px;
  line-height: 12px;
}

.expandable-toggle {
}

.expandable-toggle:hover {
  text-decoration: underline;
}

.help-icon {
  float: right;
  margin-right: 14px;
  margin-left: 0px;
}

.help-icon img {
  width: 15px;
}

.opt-out-container {
  margin: 12px 12px 0px 12px;
  font-size: 14px;
}

.header img.warning-icon {
  float: left;
  margin-top: 5px;
  margin-bottom: 70px;
  margin-left: 0px;
}
