<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/css/angular_material.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/css/ngpopup_min.css" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" >

    <script src="/js/angular.min.js" ng-csp></script>
    <script src="/js/angular_material.min.js" ng-csp></script>
    <script src="/js/third_party.min.js"></script>

    <script src="/js/ngpopup_compiled.js"></script>
  </head>
  <body ng-app="tvt.ngpopup" class="md-body-1" ng-strict-di>
    <md-content id="popup-wrapper">
      <ui-view></ui-view>
    </md-content>
  </body>
</html>
